.courseImage{
    margin-left: 10%; 
    height:fit-content; 
    width: 100%;  
    display: flex;  
    padding: 5%;
}

.donotShow_row{
    display: none;
}

.coursedetail h3{
    font-weight: 400; 
    color:#FF6500;
    margin-bottom: 15px;
}

.name-title{
    text-align: left !important;
}

.top-title{
    height: 50px;
}

.top-title h1{
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    color: #FF6500;
}

#accordion .card-header{
    background-color: #fff;
}

#accordion .card-link {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    width: 100% !important;
    height: 50px;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

#accordion .card-link h5{
    padding-top: 6px;
    font-size: 20px;
}

#accordion .card-link .icon{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.total-price h1{
    font-size: 22px;
    text-align: right;
    padding-right: 140px;
}

#silver, #gold{
    padding: .5rem;
}

.price{
    color: #787878;
}

.price p{
    margin-top: 8%;
}

.down{
    text-align: right;
    align-self: center;
}

.down button{
    padding:8px 45px;
    border-color: #FF6500; 
    color: #FF6500; 
    border-radius:3px;
}

.down button:active{
    border-color: #FF6500 !important; 
    color: #fff !important;
    background-color: #FF6500 !important; 
}

.down button:hover{
    border-color: #FF6500 !important;
    color: #fff !important;
    background-color: #FF6500 !important;
}

.down button:focus-visible{
    border-color: #FF6500 !important;
    color: #fff !important;
    background-color: #FF6500 !important;
}

.card-body button{
    padding:6px 20px;
    border-color: #FF6500;
    color: #FF6500; 
    border-radius:3px;
}

.card-body button:active{
    border-color: #FF6500 !important; 
    color: #fff !important;
    background-color: #FF6500 !important; 
}

.card-body button:hover{
    border-color: #FF6500 !important;
    color: #fff !important;
    background-color: #FF6500 !important;
}

.card-body button:focus-visible{
    border-color: #FF6500 !important;
    color: #fff !important;
    background-color: #FF6500 !important;
}

.coursedetail p{
    color: #787878; 
    font-size: larger;  
    font-weight: 400;
}

@media (max-width: 1500px) {
    .language-title{
        display: block;
    }

    .card-price, .card-lang{
        display: none;
    }
}

@media (max-width: 991.98px) {
    .language-title{
        display: none;
    }

    .col-4 {
        flex: 0 0 auto !important;
        width: 60% !important;
    }
}

@media (max-width: 575.98px) {
    body{
        font-family: 'Poppins';
        font-size: 18px;
    }

    .coursedetail h3{
        text-align: center;
    }

    .coursedetail p{
        font-weight: 400; 
        margin-bottom: 10px;
        font-size: 16px;
        text-align: center;
    }

    .price p{
        margin-top: 10px;
        font-size: 18px !important;
    }

    .down{
        text-align: center;
        padding-top: 2%;
    }

    .para{
        order: 2;
    }

    .image{
        order: 1;
    }

    .list{
        display: block !important;
    }

    .list h5{
        margin-bottom: 15px !important;
    }

    .courseImage{
        margin-left: 0px !important;
        text-align: center;
    }
    
    .col-4 {
        flex: 0 0 auto !important;
        width: 80% !important;
    }

    .price-title{
        display: none;
    }

    .card-price, .card-lang{
        display: block;
    }

    .name-title{
        text-align: center !important;
    }

    .top-title h1{
        padding-top: 18px;
        font-size: 16px;
    }

    #gold .top-title h1{
        padding-top: 8px;
    }

    .card-link h5{
        font-size: 16px !important;
    }

    .total-price h1{
        font-size: 18px;
        text-align: right !important;
        padding-right: 10px !important;
    }
}

.table-btn {
    position: sticky;
    padding: 8px 16px;
    top: -1px;
    margin-top:0;
    background-color: rgb(240, 250, 250);
}

.table-btn .silver, .table-btn .gold, .table-btn .silver:hover, .table-btn .gold:hover, .table-btn .silver:active, .table-btn .gold:active{
    width: 25%;
    border-color: #797b7f !important;
}

#silverList, #goldList{
    border-radius: 5px;
}

.btn-style{
    background-color: #FF6500 !important;
    color: #fff !important;
    border-color: #FF6500 !important;
}

.table-btn{
    padding: 8px 16px;
    top: 0;
    display: flex;
    justify-content: space-evenly;
}

.courseImage{
    margin-left: 10%; 
    height:fit-content; 
    width: 100%;  
    display: flex;  
    padding: 5%;
}

.card-body .material-symbols-outlined{
    font-size: 20px !important;
    color: #FF6500 !important;
    font-weight: 600 !important;
}

.card-img-top{
    width: 100%;
    height: 225px;
    object-fit: cover;
}
