.form-control:focus{
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-color: none !important;
}

.red{
    color: red;
}

.green{
    color: green;
}

.orange{
    color: orange;
}