{% extends "base.html" %}
{% load humanize %}

{% block head %}

{% load static %}
<link href="{% static 'css\index.css' %}" rel="stylesheet">
<link href="{% static 'css\courseDetail.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% endblock %}

{% block ahome %}{% endblock %}
{% block acourse %}activee{% endblock %}

{% block home %}
    <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
    <li><a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a></li>
    <li><a class="dropdown-item" href="{% url 'about' %}">About us</a></li>
    <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
{% endblock %}

{% block content %}

<div class="container coursedetail" style="padding: 25px 40px;">
    <div class="row">
        <div class="col-md-8 para">
            <h3>{{ bundle_head.name }}</h3>
            <p>{{ bundle_head.description }}</p>
            <div class="row">
                <div class="col-md-6 price">
                    {% if flag == False %}
                        <p><strong>Silver Package &nbsp;&nbsp;<strong style="font-weight:100; font-size:22px; font-family: 'Times New Roman', Times, serif;">₹ </strong> {{ bundle_head.silver_price|intcomma }}</strong> </p>
                        <p><strong>Gold Package &nbsp;&nbsp;<strong style="font-weight:100; font-size:22px; font-family: 'Times New Roman', Times, serif;">₹ </strong> {{ bundle_head.gold_price|intcomma }}</strong> </p>
                    {% else %}
                        <p><strong>Silver Package &nbsp;&nbsp;<strong style="font-weight:100; font-size:22px; font-family: 'Times New Roman', Times, serif;">$ </strong> {{ bundle_sp|intcomma }}</strong> </p>
                        <p><strong>Gold Package &nbsp;&nbsp;<strong style="font-weight:100; font-size:22px; font-family: 'Times New Roman', Times, serif;">$ </strong> {{ bundle_gp|intcomma }}</strong> </p>
                    {% endif %}
                </div>
                <div class="col-md-6 down">
                    <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal">
                        <button type="button" class="btn btn-outline btn-block">Download App</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 image">
            <img class="courseImage" src="{{ bundle_head.image.url }}" alt="Digital Marketing">
        </div>
    </div>
</div>
<div class="container table" id="table">
    <div class="row">
        <div class="col-md-12 column">
            <div class="table-responsive-lg" style="overflow-x: hidden; height: 500px; padding: 0; border: 1px solid; border-color: rgb(230, 230, 230);">
                <div class="table-btn" style="z-index: 1;">
                    <button type="button" id="silverList" onclick="myFunction1()" class="btn btn-outline silver btn-style" >Silver</button>
                    <button  type="button" id="goldList" onclick="myFunction2()" class="btn btn-outline gold" >Gold</button>
                </div>

                <div id="silver">
                    <div id="accordion">
                        <div class="top-title">
                            <h1>Courses under silver package includes<h1>
                        </div>
                        {% for s in silver %}
                            <div class="card">
                                <div class="card-header">
                                    <button class="card-link" data-toggle="collapse" href="#collapse{{s.id}}">
                                        <div class="row">
                                            <div class="col-4 name-title">
                                                <h5 style="color: #FF6500">{{s.name}}</h5>
                                            </div>
                                            <div class="col-4 language-title">
                                                <h5>Language: <span style="color: #FF6500; font-weight:500;">{{s.language}}</span></h5>
                                            </div>
                                            <div class="col-3 price-title">
                                                {% if flag == False %}
                                                    <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{s.price|intcomma}}</span></h5>
                                                {% else %}
                                                    <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">${% for d in dolls %} {% if d.id == s.id %} {{ d.value }} {% endif %} {% endfor %} </span></h5>
                                                {% endif %}
                                            </div>
                                            <div class="col-1">
                                                <div class="icon"><i class="bi bi-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div id="collapse{{s.id}}" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="card-img-top" src="{{ s.image.url }}" alt="Card image cap">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <p class="card-text">{{ s.description }}</p>
                                                    <div style="display:flex; justify-content: space-between; color:black;" class="list">
                                                        {% if flag == False %}
                                                            <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{s.price|intcomma}}</span></h5>
                                                        {% else %}
                                                            <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">${% for d in dolls %} {% if d.id == s.id %} {{ d.value }} {% endif %} {% endfor %} </span></h5>
                                                        {% endif %}
                                                        <h5 style="font-weight:600; font-size:18px;" class="card-lang">Language: <strong style="font-weight:400; font-size:18px;">{{s.language}}</strong></h5>
                                                        <h5 style="font-weight:600; font-size:18px;">Medium: <strong style="font-weight:400; font-size:18px;">{{s.medium}}</strong></h5>
                                                        <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal">
                                                            <button type="button" class="btn btn-outline btn-block">Join Now</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="gold" style="display:none;">
                    <div id="accordion1">
                        <div class="top-title">
                            <h1>Gold package includes silver package and the following<h1>
                        </div>
                        {% for g in gold %}
                            <div class="card">
                                <div class="card-header">
                                    <button class="card-link" data-toggle="collapse" href="#collapse{{g.id}}">
                                        <div class="row">
                                            <div class="col-4 name-title">
                                                <h5 style="color: #FF6500">{{g.name}}</h5>
                                            </div>
                                            <div class="col-4 language-title">
                                                <h5>Language: <span style="color: #FF6500; font-weight:500;">{{g.language}}</span></h5>
                                            </div>
                                            <div class="col-3 price-title">
                                                {% if flag == False %}
                                                    <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{g.price|intcomma}}</span></h5>
                                                {% else %}
                                                    <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">${% for d in dollg %} {% if d.id == g.id %} {{ d.value }} {% endif %} {% endfor %} </span></h5>
                                                {% endif %}
                                            </div>
                                            <div class="col-1">
                                                <div class="icon"><i class="bi bi-chevron-down"></i></div>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div id="collapse{{g.id}}" class="collapse" data-parent="#accordion1">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="card-img-top" src="{{ g.image.url }}" alt="Card image cap">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <p class="card-text">{{ g.description }}</p>
                                                    <div style="display:flex; justify-content: space-between; color:black;" class="list">
                                                        {% if flag == False %}
                                                            <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{g.price|intcomma}}</span></h5>
                                                        {% else %}
                                                            <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">${% for d in dollg %} {% if d.id == g.id %} {{ d.value }} {% endif %} {% endfor %} </span></h5>
                                                        {% endif %}
                                                        <h5 style="font-weight:600; font-size:18px;" class="card-lang">Language: <strong style="font-weight:400; font-size:18px;">{{g.language}}</strong></h5>
                                                        <h5 style="font-weight:600; font-size:18px;">Medium: <strong style="font-weight:400; font-size:18px;">{{g.medium}}</strong></h5>
                                                        <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal">
                                                            <button type="button" class="btn btn-outline btn-block">Join Now</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div id="silver-price" class="total-price">
                <h1>Total Price: <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ <del>{{ silver_sum|intcomma }}</del></span></h1>
                <h1>Offer Price: <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{ bundle_head.silver_price|intcomma }}</span></h1>
            </div>

            <div id="gold-price" class="total-price" style="display:none">
                <h1>Gold Price: <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{ silver_sum|intcomma }}</span><span style="font-size:14px;">(Silver)</span> + <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{ gold_sum|intcomma }}</span></h1>
                <h1>Total Price: <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ <del>{{ gold_total|intcomma }}</del></span></h1>
                <h1>Offer Price: <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{ bundle_head.gold_price|intcomma }}</span></h1>
            </div>

        </div>
    </div>
    <div class="row" style="text-align: center;">
        <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal" style="margin-top: 10%;">
            <button type="button" class="btn btn-outline btn-block download" style="justify-content: center;  border-color: #FF6500; color: #FF6500;">Download App To Access Full Course</button>
        </a>
    </div>
</div>

<script>
    function myFunction1() {
        var x = document.getElementById("silver");
        var pricex = document.getElementById("silver-price");
        var y = document.getElementById("gold");
        var pricey = document.getElementById("gold-price");
        var btnx = document.getElementById("silverList");
        var btny = document.getElementById("goldList");
        if (x.style.display === "none") {
            x.style.display = "contents";
            pricex.style.display = "contents";
            y.style.display = "none";
            pricey.style.display = "none";
            btnx.classList.add("btn-style");
            btny.classList.remove("btn-style");
        } 
        else {
            x.style.display = "contents";
            pricex.style.display = "contents";
            y.style.display = "none";
            pricey.style.display = "none";
            btnx.classList.add("btn-style");
            btny.classList.remove("btn-style");
        }
    }
    
    function myFunction2() {
        var x = document.getElementById("silver");
        var pricex = document.getElementById("silver-price");
        var y = document.getElementById("gold");
        var pricey = document.getElementById("gold-price");
        var btnx = document.getElementById("silverList")
        var btny = document.getElementById("goldList")
        if (x.style.display === "contents") {
            x.style.display = "none";
            pricex.style.display = "none";
            y.style.display = "contents";
            pricey.style.display = "contents";
            btnx.classList.remove("btn-style");
            btny.classList.add("btn-style");
        } 
        else {
            x.style.display = "none";
            pricex.style.display = "none";
            y.style.display = "contents";
            pricey.style.display = "contents";
            btnx.classList.remove("btn-style");
            btny.classList.add("btn-style");
        }
    }
</script>
{% endblock %}
