{% extends "base.html" %}
{% block head %}

{% load static %}
<link href="{% static 'css\login.css' %}" rel="stylesheet">
{% endblock %}

{% block login %}

{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 25px;">
        <div style="padding: 3%;" class="login">
            <center>
                <span style='padding-bottom:10px !important; font-size: 90px !important;' class="material-symbols-outlined">error</span>
                <h3>Forgot Password</h3>
                <p style="font-size: smaller;">Enter your registered E-mail to <br> receive code</p>
            </center>
            <form  method="POST" class="post-form" action="/forgotPassword">
                <center>  
                    <div class="container" >
                    {% if messages %}
                            <div class ="messages" style="width: 250px;">
                
                        {% for message in messages  %}
                                <div class="alert alert-success" role="alert">
                                    <strong style="color:font-size: 20px;">! {{message}}</strong> 
                                </div>
                
                        {% endfor %}
                
                            </div>
                            
                    {% endif %}
                    </div> 
                </center> 
                {% csrf_token %}
                <div style="margin-top: 10%;"class="inputWithIcon">
                    {{ form.email }}
                    <span class="material-symbols-outlined">mail</span>
                </div>

                <button style="margin-top: 10%;" class="btn" >Send Link</button>
            </form>
            <p style="text-align: center; margin-top: 3%;text-decoration:none; font-size: 12px; padding-left: 20px; padding-right: 20px; padding-top: 20px;"><a  style="color: #474747;" href="{% url 'login' %}">Back to Login</a></p>

        </div>
    </div>

{% endblock %}