{% extends "base.html" %}

{% block head %}

{% load static %}
<link href="{% static 'css\index.css' %}" rel="stylesheet">
<link href="{% static 'css\courseDetail.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% endblock %}

{% block ahome %}{% endblock %}
{% block acourse %}activee{% endblock %}

{% block home %}
    <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
    <li><a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a></li>
    <li><a class="dropdown-item" href="{% url 'about' %}">About us</a></li>
    <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
{% endblock %}

{% block content %}

<div class="container coursedetail" style="padding: 25px 40px;">
    <div class="row">
        <h3>Free Courses</h3>
    </div>
</div>
<div class="container table" id="table">
    <div class="row">
        <div class="col-md-12 column">
            <div class="table-responsive-lg" style="overflow-x: hidden; height: 500px; padding-top: 0;">
                <table id="tableFilter" class="tableFilter table-striped sticky-header" style="width: 100%;border: 1px solid;  border-color: rgb(230, 230, 230);">

                    <tbody id="silver">
                        {% for f in free %}
                        <tr>
                            <td>
                                <div class="card" style="width: 100%; z-index: -1;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="card-img-top" src="{{ f.image.url }}" alt="Card image cap">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title" style="color:#FF6500;">{{ f.name }}</h5>
                                                <p class="card-text">{{ f.description }}</p>
                                                <div style="display:flex; justify-content: space-between; color:black;" class="list">
                                                    <h5><span class="material-symbols-outlined">currency_rupee</span><strong style="font-weight:600; font-size:20px; color:#FF6500;"><del>{{f.price}}</del> Free</strong></h5>
                                                    <h5 style="font-weight:600; font-size:18px;">Language: <strong style="font-weight:400; font-size:18px;">{{f.language}}</strong></h5>
                                                    <h5 style="font-weight:600; font-size:18px;">Medium: <strong style="font-weight:400; font-size:18px;">{{f.medium}}</strong></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal">
            <button type="button" class="btn btn-outline btn-block download" style="justify-content: center; margin-top: 10%;  border-color: #FF6500; color: #FF6500;">Download App To Access Full Course</button>
        </a>
    </div>
</div>
{% endblock %}