{% extends "base.html" %}
{% block head %}

{% load static %}
<link href="{% static 'css\login.css' %}" rel="stylesheet">
<link href="{% static 'css\resetPassword.css' %}" rel="stylesheet">
<link href="{% static 'css\register.css' %}" rel="stylesheet">
{% endblock %}

{% block login %}

{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 25px;">
        <div style="padding: 2%;" class="login">
            <h3>Reset Password</h3>
            <p style='font-size: 16px; text-align: center;'>At least 9 characters, with a Special Character and a number.</p>
            <center>  
                <div class="container" >
                {% if messages %}
                        <div class ="messages" style="width: 250px;">
            
                    {% for message in messages  %}
                            <div class="alert alert-success" role="alert">
                                <strong style="color:font-size: 20px;">! {{message}}</strong> 
                            </div>
            
                    {% endfor %}
            
                        </div>
                        
                {% endif %}
                </div> 
            </center> 
            <form  method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}  
                <div>
                    <input id="password" class='form-control' type="password" placeholder="New password" name="password" required value="">
                </div>
                <div class="row">
                    <div class="col-6"><p style='font-size: 12px;'>Password Strength</div>
                        <div class="col-6" ><p style="text-align: end; font-size: 12px; font-weight:600;"> <span id="result"></span></p></div>
                    </div>
                <div>
                    <input id="confirm_pass" class='form-control' type="password" placeholder=" Confirm password" name="Password" required onkeyup="validate_password()" value="">
                </div>                         
                <span style='font-size: 14px;' id="wrong_pass_alert"></span>
                <div style="margin-top: 20%; margin-bottom: 20%;">
                    <button class="btn" id="continue" value='{{ user_id }}' onclick="wrong_pass_alert()" type="submit">Continue</button>
                </div>
            </form>
        </div>
    </div>

    <!-- End of .container -->
    <script>
        $(document).ready(function() {
        $('#password').keyup(function(){
        $('#result').html(checkStrength($('#password').val()))
        })    
        function checkStrength(password){
            var strength = 0
            if (password.length < 7) { 
                $('#result').removeClass()
                $('#result').addClass('red')
                return 'Too short'
            }
            if (password.length > 7) strength += 1
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))  strength += 1
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/))  strength += 1 
            if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/))  strength += 1
            if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
            if (strength < 2 ) {
                $('#result').removeClass()
                $('#result').addClass('weak');
                $('#result').addClass('red');
                return 'Weak'           
            } else if (strength == 2 ) {
                $('#result').removeClass('green');
                $('#result').addClass('orange');
                return 'Good'       
            } else {
                $('#result').removeClass('red');
                $('#result').removeClass('orange');
                $('#result').addClass('strong green');
                return 'Strong'
            }
        }
        });
        function validate_password() {
            var password = document.getElementById('password').value;
            var confirm_pass = document.getElementById('confirm_pass').value;
            if (password != confirm_pass) {
                document.getElementById('wrong_pass_alert').style.color = 'red';
                document.getElementById('wrong_pass_alert').innerHTML= 'Password not Matched';
                document.getElementById('continue').disabled = true;
                document.getElementById('continue').style.opacity = (0.4);
            } else {
                document.getElementById('wrong_pass_alert').style.color = 'green';
                document.getElementById('wrong_pass_alert').innerHTML ='Password Matched';
                document.getElementById('continue').disabled = false;
                document.getElementById('continue').style.opacity = (1);
            }
        }
        function wrong_pass_alert() {
            if (document.getElementById('password').value != "" &&
                document.getElementById('confirm_pass').value != "") {
                alert("Your response is submitted");
            } else {
                alert("Please fill all the fields");
            }
        }
    </script>

{% endblock %}
