{% extends "base.html" %}
{% load humanize %}

{% block head %}

{% load static %}
<link href="{% static 'css\index.css' %}" rel="stylesheet">
<link href="{% static 'css\courseDetail.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

{% endblock %}

{% block ahome %}{% endblock %}
{% block acourse %}activee{% endblock %}

{% block home %}
    <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
    <li><a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a></li>
    <li><a class="dropdown-item" href="{% url 'about' %}">About us</a></li>
    <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#contactModal">Contact us</a></li>
{% endblock %}

{% block content %}

<div class="container coursedetail" style="padding: 25px 40px;">
    <div class="row top">
        <div class="col">
            <h3>Beginner Level Courses</h3>
        </div>
        <div class="col">
            <form method="POST" autocomplete="off" id="search-form" >
                {% csrf_token %}
                <div class="inputWithIcon">
                    <input id="search-input" class="search" type="search" placeholder="Search..." autofocus />
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container table" id="table">
    <div class="row">
        <div class="col-md-12 column">
            <div class="table-responsive-lg" style="overflow-x: hidden; height: 780px; padding-top: 0;">
                <table id="tableFilter" class="tableFilter table-striped sticky-header" style="width: 100%;border: 1px solid;  border-color: rgb(230, 230, 230);">

                    <tbody id="silver">
                        {% for s in stand %}
                        <tr class='outers'>
                            <td>
                                <div class="card" style="width: 100%;">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="card-img-top" src="{{ s.image.url }}" alt="Card image cap">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title" style="color:#FF6500;">{{ s.name }}</h5>
                                                <p class="card-text">{{ s.description }}</p>
                                                <div style="display:flex; justify-content: space-between; color:black;" class="list">
                                                    {% if flag == False %}
                                                        <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">₹ {{s.price|intcomma}}</span></h5>
                                                    {% else %}
                                                        <h5>Price <span style="color: #FF6500; font-weight:400; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">${% for d in dolls %} {% if d.id == s.id %} {{ d.value }} {% endif %} {% endfor %} </span></h5>
                                                    {% endif %}
                                                    <h5 style="font-weight:600; font-size:18px;">Language: <strong style="font-weight:400; font-size:18px;">{{s.language}}</strong></h5>
                                                    <h5 style="font-weight:600; font-size:18px;">Medium: <strong style="font-weight:400; font-size:18px;">{{s.medium}}</strong></h5>
                                                    <a type="button" href="#DownloadApp" data-toggle="modal" data-target="#getAppModal">
                                                        <button type="button" class="btn btn-outline btn-block">Join Now</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <a href="#DownloadApp" data-toggle="modal" data-target="#getAppModal" style=" margin-top: 10%;">
            <button type="button" class="btn btn-outline btn-block download" style="justify-content: center;  border-color: #FF6500; color: #FF6500;">Download App To Access Full Course</button>
        </a>
    </div>
</div>
</div>

<script>
    const input = document.getElementById('search-input')
    input.addEventListener('keyup', (e) => {
        var inputs = e.target.value.toLowerCase(); //do lowercase
        //loop through outer div and hide it
        document.querySelectorAll('.outers').forEach(function(el) {
            el.style.display = 'none';
        });
        //loop through outer ->card-title
        document.querySelectorAll('.outers .card-title').forEach(function(el) {
            //compare 
            if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
                el.closest('.outers').style.display = "table-row"; //if match show that div
            }
        })
    })
</script>
{% endblock %}
