{% extends "base.html" %}
{% block head %}

{% load static %}
<link href="{% static 'css\registerSuccess.css' %}" rel="stylesheet">
{% endblock %}

{% block login %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="success">
            <img class="circle" src="{% static 'image/Circle-green.png' %}" width="100px" height="100px">
            <span class="material-symbols-outlined" style='font-weight:700 !important'>
                done
                </span>

            <p>Your Password has been reset successfully. Now, you can Login with new password</p>

            <div class="con-btn">
                <a class="btn" href="{% url 'login' %}">Go to Login</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block success %}

{% endblock %}